#!/usr/bin/make -f

SHELL := /bin/bash

export SCIPY_USE_PYTHRAN=0

override_dh_auto_configure:
	dh_auto_configure \
		-- \
		-Dblas=openblas \
		-Dlapack=openblas \
		-Duse-pythran=true

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
	find debian/tmp/usr/lib/python*/*-packages -type f -name '*.pyc' -exec rm -rf {} \;
	fdupes -qnrps debian/tmp/usr/lib/python*/*-packages

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@ --buildsystem=meson --with python3
